:root {
  --bg-dark-blue: #081929;
  --bg-blue: #1d2d3c;
  --primary-color: #17d65f;
}
/************
GENERICS
*************/
.app {
  position: relative;
}

ul {
  list-style-type: none;
}

/************
HEADER
*************/
header {
  height: 80px;
  background-color: var(--bg-dark-blue);
}

header .container {
  height: 100%;
}

header .container i {
  font-size: 2.5rem;
  color: var(--primary-color);
}

/************
MAIN
*************/
main {
  background-color: var(--bg-blue);
  position: relative;
}

main .container .row .col-4 .card {
  background-color: var(--bg-dark-blue);
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(17, 32, 49, 0.9);
}

.overlay .close-button {
  display: inline-block;
  font-weight: 600;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  vertical-align: middle;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  cursor: pointer;
}
